@page "/"

<PageTitle>Home</PageTitle>

<p>Subject from ConfirmationEmailSettings: @_confirmationEmailSettings.Value.Subject</p>
<p>Subject from ConfirmationEmailSettings1: @_confirmationEmailSettings1.Value.Subject</p>
<p>Subject from ConfirmationEmailSettingsFromAttribute: @_confirmationEmailSettingsFromAttribute.Value.Subject</p>
<p>Subject from ClosureEmailSettings: @_closureEmailSettings.Value.Subject</p>
<p>Subject from ClosureEmailSettingsFromAttribute: @_closureEmailSettingsFromAttribute.Value.Subject</p>


