@page "/"

<PageTitle>Home</PageTitle>

<h2>DataAnnotation</h2>
<p>Text from DataAnnotationWithNoValidationOrSectionNameSettings: @_dataAnnotationWithNoValidationOrSectionNameSettings.Value.Text</p>
<p>Text from DataAnnotationWithNoValidationButWithSectionNameSettings: @_dataAnnotationWithNoValidationButWithSectionNameSettings.Value.Text</p>
<p>Text from DataAnnotationWithValidationButNoSectionNameSettings: @_dataAnnotationWithValidationButNoSectionNameSettings.Value.Text</p>
<p>Text from DataAnnotationWithValidationAndSectionNameSettings: @_dataAnnotationWithValidationAndSectionNameSettings.Value.Text</p>
<p>Text from DataAnnotationNestedSettings: @_dataAnnotationNestedSettings.Value.Text</p>

<h2>FluentValidation</h2>
<p>Text from FluentValidationWithNoValidationOrSectionNameSettings: @_fluentValidationWithNoValidationOrSectionNameSettings.Value.Text</p>
<p>Text from FluentValidationWithNoValidationButWithSectionNameSettings: @_fluentValidationWithNoValidationButWithSectionNameSettings.Value.Text</p>
<p>Text from FluentValidationWithValidationButNoSectionNameSettings: @_fluentValidationWithValidationButNoSectionNameSettings.Value.Text</p>
<p>Text from FluentValidationWithValidationAndSectionNameSettings: @_fluentValidationWithValidationAndSectionNameSettings.Value.Text</p>
<p>Text from FluentValidationNestedSettings: @_fluentValidationNestedSettings.Value.Text</p>

<p>Subject from ConfirmationEmailSettingsFromAttribute: @_confirmationEmailSettingsFromAttribute.Value.Subject</p>
<p>Subject from ClosureEmailSettingsFromAttribute: @_closureEmailSettingsFromAttribute.Value.Subject</p>


